<app-navbar></app-navbar>

<div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs" appAutoHeight data-is-auto-height="parent" data-is-min-height="true">
  <!-- BEGIN DEFAULT SIDEBAR -->
  <div class="ks-column ks-sidebar ks-info">
      <app-sidebar></app-sidebar>
  </div>

  <div class="ks-column ks-page">
      <router-outlet></router-outlet>
  </div>
</div>

<div class="ks-mobile-overlay"></div>

<!-- BEGIN SETTINGS BLOCK -->
<div class="ks-settings-slide-block">
  <a class="ks-settings-slide-control">
    <span class="ks-icon la la-cog"></span>
  </a>

  <ul class="ks-settings-list">
    <li>
      <span class="ks-text">Collapsed Sidebar</span>
      <label class="ks-checkbox-slider ks-on-off ks-primary ks-sidebar-checkbox-toggle">
        <input type="checkbox" value="1">
        <span class="ks-indicator"></span>
        <span class="ks-on">On</span>
        <span class="ks-off">Off</span>
      </label>
    </li>
    <li>
      <span class="ks-text">Fixed page header</span>
      <label class="ks-checkbox-slider ks-on-off ks-primary ks-page-header-checkbox-toggle">
        <input type="checkbox" value="0" checked>
        <span class="ks-indicator"></span>
        <span class="ks-on">On</span>
        <span class="ks-off">Off</span>
      </label>
    </li>
    <li>
      <span class="ks-text">Dark/Light Sidebar</span>
      <label class="ks-checkbox-slider ks-on-off ks-primary ks-sidebar-style-checkbox-toggle">
        <input type="checkbox" value="0" checked>
        <span class="ks-indicator"></span>
        <span class="ks-on">On</span>
        <span class="ks-off">Off</span>
      </label>
    </li>
    <li>
      <span class="ks-text">White/Gray Content Background</span>
      <label class="ks-checkbox-slider ks-on-off ks-primary ks-content-bg-checkbox-toggle">
        <input type="checkbox" value="0" checked>
        <span class="ks-indicator"></span>
        <span class="ks-on">On</span>
        <span class="ks-off">Off</span>
      </label>
    </li>
  </ul>
</div>
<!-- END SETTINGS BLOCK -->
